html, body, #editor, #scene {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#scene {
  background-color: gray;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#camera {
  position: relative;
  width: 50%;
  border: 5px dashed black;
  margin: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#camera:before {
  content: "";
  display: block;
  padding-top: 75%;
}
#background {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#progress {
  position:absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10%;
  top: -13%;
} 
#progress:before {
  content: "";
  display: block;
  padding-top: 10%;
}
#bar {
  position:absolute;
  top: 0;
  height: 100%;
  background-color: red;
}
* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
}
.animated-object {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: visible;
}
.animated-object img {
  display: block;
  opacity: 0;
  width: 100%;
}
.thought-left, .thought-right {
  position: relative;
  padding: 5% 5%;
  border: 0.5em solid black;
  text-align: center;
  color: #333;
  background: white;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.thought-left .decoration, .thought-right .decoration {
  content: "";	
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-style: solid;
  border-width: 0.5em;
  border-color: black;
  background: white;
  border-radius: 100%; 
}	
.thought-left .decoration {
  right: 0%;
}
.thought-right .decoration {
  left: 0%;
}
.thought-left .decoration:after, .thought-right .decoration:after {
  content: "";
  position: absolute;
  bottom: -75%;
  width: 0.5em;
  height: 0.5em;
  border-style: solid;
  border-width: 0.5em;
  border-color: black;
  background: white;
  border-radius: 100%; 
}	
.thought-left .decoration:after {
  right: -125%;
}
.thought-right .decoration:after {
  right: 125%;
}