html, body, #editor, #scene {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#scene {
  background-color: gray;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#camera {
  position: relative;
  border: 5px dashed black;
  margin: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#camera:before {
  content: "";
  display: block;
  padding-top: 75%;
}
#background {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#progress {
  position:absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10%;
  top: -13%;
} 
#progress:before {
  content: "";
  display: block;
  padding-top: 10%;
}
#bar {
  position:absolute;
  top: 0;
  height: 100%;
  background-color: red;
}
* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  vertical-align: middle;
}
.animated-object {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: visible;
}
.animated-object .image {
  background-size: cover;
}
.animated-object img {
  display: block;
  opacity: 0;
  width: 100%;
}
.thought-left, .thought-right {
  position: relative;
  padding: 5% 5%;
  border: 0.5em solid black;
  text-align: center;
  color: #333;
  background: white;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.thought-left .decoration, .thought-right .decoration {
  content: "";	
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-style: solid;
  border-width: 0.5em;
  border-color: black;
  background: white;
  border-radius: 100%; 
}	
.thought-left .decoration {
  right: 0%;
}
.thought-right .decoration {
  left: 0%;
}
.thought-left .decoration:after, .thought-right .decoration:after {
  content: "";
  position: absolute;
  bottom: -75%;
  width: 0.5em;
  height: 0.5em;
  border-style: solid;
  border-width: 0.5em;
  border-color: black;
  background: white;
  border-radius: 100%; 
}	
.thought-left .decoration:after {
  right: -125%;
}
.thought-right .decoration:after {
  right: 125%;
}
#edit, #control {
  transition: .2s;
  z-index: 1;
  position: absolute;
}
#edit {
  top: 2%;
  right: 1.5%;
  height: 8%;
  width: 6%;
  background-image: url("/images/buttons/edit.png");
}
#control {
  bottom: 2%;
  left: 1.5%;
  height: 8%;
  width: 97%;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
}
#edit.hidden, #control.hidden {
  transition: 2s;
  opacity: 0;
}
#scene, #edit, #control {
  cursor: auto; 
}
#scene.hidden, #edit.hidden, #control.hidden {
  cursor: none;
}
.button {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0.75%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}
.button:hover {
  background-color: rgba(200,200,200,1.0);
}
#play-pause, #fullscreen {
  position: absolute;
  top: 10%;
  width: 4.9%;
  height: 80%;
}
#play-pause {
  left: 0.6%;
  background-image: url("/images/buttons/pause.png");
}
#fullscreen {
  right: 0.6%;
  background-image: url("/images/buttons/fullscreen.png");
}
#fullscreen.fullscreen {
  background-image: url("/images/buttons/smallscreen.png");
  background-origin: content-box;
}
#play-pause.paused {
  background-image: url("/images/buttons/play.png");
}
#play-pause.ended {
  background-image: url("/images/buttons/rewind.png");
}
#progress {
  background-color: rgba(255,255,255,255);
  position: absolute;
  height: 80%;
  top: 10%;
  left: 6.1%;
  width: 87.8%;
  overflow: hidden;
}