#splashscreen {
  position: absolute;
  left: 5vw;
  top: 5vh;
  width: 90vw;
  height: 90vh;
  background: blue;
  z-index: 2;
  text-align: center;
  font-size: 20vmin;
  border-radius: 10vw;
  cursor: pointer;
  display: none;
}
#splashscreen div {
  position: absolute;
  top: 30vh;
  width: 90vw;
}
#toolbox {
  float: left;
  position: absolute;
  left: 1vmin;
  right: 1vmin;
  text-align: justify;
  text-align-last: justify;
}
#toolbox:after {
  content: "";
  display: inline-block;
  width: 100%;
}
#toolbox .button {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-top: 1vmin;
}
@media (min-aspect-ratio: 3/4) {
  #toolbox .button {
    height: 8vmin;
    width: 8vmin;
  }
}
@media (max-aspect-ratio: 1/1) {
  #toolbox .button {
    height: 8vmax;
    width: 8vmax;
  }
}
@media (max-aspect-ratio: 3/4) {
  #toolbox .button {
    height: 17vmin;
    width: 17vmin;
  }
}
#selection {
  background-image: url("/images/buttons/select.png");
}
#translation {
  background-image: url("/images/buttons/move.png");
}
#rotation {
  background-image: url("/images/buttons/rotate.png");
}
#scale {
  background-image: url("/images/buttons/scale.png");
}
#opacity {
  background-image: url("/images/buttons/opacity.png");
}
#image {
  background-image: url("/images/buttons/image.png");
}
#add {
  background-image: url("/images/buttons/add.png");
}
#add.selected {
  text-align: center;
  width: 50vmin;
  height: 50vmin;
  display: flex;
  margin: auto;
  background-image: none;
}
#delete {
  background-image: url("/images/buttons/delete.png");
}
#delete.selected {
  text-align: center;
  width: 10vmin;
  background-image: none;
}
#save {
  background-image: url("/images/buttons/save.png");
}
#save.selected {
  text-align: center;
  width: 10vmin;
  background-image: none;
}
#toolbox div.selected:not(:hover) {
  background-color: red;
}
#toolbox .selected .button-content {
  display: inline;
}
#toolbox .button-content {
  display: none;
}
.selected .scale {
  background-color: rgba(0,255,0,.4);
}
@media (min-aspect-ratio: 4/3) {
  #camera {
    width: 100vh;
  }
}
@media (max-aspect-ratio: 4/3) {
  #camera {
    width: 75vw;
  }
}
.rounded {
  border-radius: 1.5vmin;
}
#control {
  bottom: -10%;
}
#speed-slider {
  position: absolute;
  right: 6.1%;
  width: 25%;
  height: 80%;
  top: 10%;
  background-color: red;
}
#speed-handle {
  position: relative;
  height: 100%;
  width: 30%;
  background-size: 66%;
  background-position: center; 
}
#speed-handle.speed1 {
  background-image: url("/images/buttons/backward.png");
}
#speed-handle.speed2 {
  background-image: url("/images/buttons/backward-slow.png");
}
#speed-handle.speed3 {
  background-image: url("/images/buttons/forward-slow.png");
}
#speed-handle.speed4 {
  background-image: url("/images/buttons/forward.png");
}
#speed-handle.speed5 {
  background-image: url("/images/buttons/forward-fast.png");
}
#progress {
  width: 62.3%;
}
