html, body, #editor, #scene {
  height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#editor {
  padding: 10px;
}
#scene {
  background-color: gray;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#camera {
  position: relative;
  width: 50%;
  border: 5px dashed black;
  margin: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#camera:before {
  content: "";
  display: block;
  padding-top: 75%;
}
#background {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#cat {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  z-index: 1;
}
#fence {
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  z-index: 2;
}
