html, body, #editor, #scene {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#editor {
  padding: 10px;
}
#scene {
  background-color: gray;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#camera {
  position: relative;
  width: 50%;
  border: 5px dashed black;
  margin: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#camera:before {
  content: "";
  display: block;
  padding-top: 75%;
}
#background {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#progress {
  position:absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10%;
  top: -13%;
} 
#progress:before {
  content: "";
  display: block;
  padding-top: 10%;
}
#bar {
  position:absolute;
  top: 0;
  height: 100%;
  background-color: red;
}
.animated-object {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
}
#cat {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  z-index: 1;
}
#fence {
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  z-index: 2;
}
.selected {
  background-color: rgba(0,255,0,.4);
}