#splashscreen {
  position: absolute;
  left: 5vw;
  top: 5vh;
  width: 90vw;
  height: 90vh;
  background: blue;
  z-index: 2;
  text-align: center;
  font-size: 20vmin;
  border-radius: 10vw;
  cursor: pointer;
  display: none;
}
#splashscreen div {
  position: absolute;
  top: 30vh;
  width: 90vw;
}
#toolbox {
  float: left;
  position: absolute;
  left: 1vmin;
  right: 1vmin;
}
#toolbox div {
  position: relative;
  border-radius: 2vmin;
  padding: 2vmin;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: red;
  z-index: 1;
}
#toolbox div.selected {
  background-color: green;
}
#add {
  text-align: center;
  justify-content: center;
}
#add.selected {
  width: 50vmin;
  height: 50vmin;
  display: flex;
  margin: auto;
}
#toolbox .selected .button-content, #toolbox .button-text {
  display: inline;
}
#toolbox .button-content, #toolbox .selected .button-text {
  display: none;
}
#editor {
  padding: 1vmin;  
}
.selected .scale {
  background-color: rgba(0,255,0,.4);
}
@media (min-aspect-ratio: 4/3) {
  #camera {
    width: 100vh;
  }
}
@media (max-aspect-ratio: 4/3) {
  #camera {
    width: 75vw;
  }
}
.rounded {
  border-radius: 1.5vmin;
}
#control {
  bottom: -10%;
}