#camera {
  border: none;
  overflow: hidden;
}
#scene {
  background-color: black;
}
@media (min-aspect-ratio: 4/3) {
  #camera {
    width: 133.3vh;
  }
}
@media (max-aspect-ratio: 4/3) {
  #camera {
    width: 100vw;
  }
}
.rounded {
  border-radius: 2vmin;
}